# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.CSharpProject.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ionut\Desktop\Git test for sep\Main Reository\CSharpProject\.idea\.idea.CSharpProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
